@import url("https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
:root {
  --cursor-stroke: #3de931;
  --cursor-fill: transparent;
  --cursor-stroke-width: 1px;
  --base-image-width: 450px;
  --base-image-height: 600px;
  --image-width: 450px;
  --image-height: 600px;
}



@font-face {
  font-family: 'Citation Regular';
  src: url(Citation-Regular.ttf);
}
.granimate {
  background-color: #570063;
  animation: hue 11s linear 0s infinite reverse;
}
.granimate::before {
  background: linear-gradient(105deg, rgb(44, 1, 56), #04e200);
  animation: hue 12s linear 1s infinite;
}


@keyframes hue {
  to {
    filter: hue-rotate(1turn);
  }
}

.full {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  color: rgb(0, 0, 0);
  font-family: system-ui;
  font-size: 48px;
}
.full::before {
  content: '';
  position: absolute;
  width: 100vw;
  height: 100vh;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



html,
body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  background: linear-gradient(105deg, rgba(255, 190, 0, 0), #ff00ae);
  animation: hue 12s linear 1s infinite;
  overflow: hidden;
}

body {
  background-color: #700c82;
  animation: hue 11s linear 0s infinite reverse;

  
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body:before {

  background: radial-gradient(105deg, rgba(255, 190, 0, 0), #6c0053);
  animation: hue 12s linear 1s infinite;
}


main {
  width: 100%;
  height: 100%;
}

button {
  outline: none;
  border: none;
  background: none;
  color: inherit;
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

.slider {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.slider__image--wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  width: var(--image-width);
  height: var(--image-height);
  transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: 1;
  user-select: none;
}
.slider__image--wrapper .slider__image {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  height: 100%;
  display: none;
}

.slider__slide-info--wrapper {
  pointer-events: none;
  position: absolute;
  left: 50%;
  top: 50%;
  width: var(--image-width);
  height: var(--image-height);
  transform: translate(-50%, -50%);
  z-index: 2;
}
.slider__slide-info--wrapper .slider__silde-info {
  color: #58db0b;
  opacity: 77%;
  pointer-events: auto;
  background-blend-mode: difference;
  -webkit-text-stroke:  0.5px #4828c5;
}
.slider__slide-info--wrapper .slider__silde-info .slide__text--wrapper {
  position: absolute;
  bottom: 25%;
  left: 55%;
}
.slider__slide-info--wrapper .slider__silde-info .slide__index,
.slider__slide-info--wrapper .slider__silde-info .slide__text--title {
  font-family: "Citation Regular";
  
  font-size: 2rem;
  text-align: center;
}
.slider__slide-info--wrapper .slider__silde-info .slide__index {
  position: absolute;
  left: 50;
  top: 0;
  transform: translate(-20%, -70%);
  display: inline-block;
  font-size: 2rem;
  overflow: hidden;
  line-height: 80%;
}
.slider__slide-info--wrapper .slider__silde-info .slide__index--text {
  display: block;
}
.slider__slide-info--wrapper .slider__silde-info .slide__text--title {
  font-size: auto;
  transform: translateX(50%);
  overflow: hidden;
  
  color: transparent;
  -webkit-text-stroke: 1px #1df874;
  opacity: 77%;
  background-blend-mode: difference;
  z-index: auto;
  border:0.1px dotted #99D7C0;
  
  /*center aligning*/ 
  display: block;
  text-align: left;
  margin: 0px auto;
}
.slider__slide-info--wrapper .slider__silde-info .slide__text--title .word {
  display: flex;
}
.slider__slide-info--wrapper .slider__silde-info .slide__text--description {
  
  font-family: "Citation Regular";
  font-size: 0.5rem;
  display: block;
  text-align: left;
  margin: 0px auto;
}
.slider__slide-info--wrapper .slider__silde-info .slide__text--description .line {
  overflow: hidden;
}
.slider__slide-info--wrapper .slider__silde-info .slide__index,
.slider__slide-info--wrapper .slider__silde-info .slide__text--title,
.slider__slide-info--wrapper .slider__silde-info .slide__text--description {
  pointer-events: none;
}
.slider__slide-info--wrapper .slider__silde-info:not(.slide--current) .slide__index,
.slider__slide-info--wrapper .slider__silde-info:not(.slide--current) .slide__text--title,
.slider__slide-info--wrapper .slider__silde-info:not(.slide--current) .slide__text--description {
  pointer-events: none;
  opacity: 0;
}

.slider__nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 75%;
  height: 75%;
  cursor: grab;
  z-index: 12;
  color: #c2ff50;
  background-blend-mode: difference;
  border:1px dotted #99D7C0;
  height: 97%;
  width: 85%;
  /*center aligning*/ 
  display: block;
  text-align: left;
  margin: 0px auto;
}
.slider__nav svg {
  display: block;
  width: 100%;
  height: 100%;
  transition: transform 250ms ease;
  transform: translateX(var(--tr-x, 0px));
}
.slider__nav--prev {
  left: 5vw;
}
.slider__nav--prev:hover svg {
  --tr-x: -10px;
}
.slider__nav--prev:hover:active svg {
  --tr-x: -5px;
}
.slider__nav--next {
  right: 5vw;
}
.slider__nav--next:hover svg {
  --tr-x: 10px;
}
.slider__nav--next:hover:active svg {
  --tr-x: 5px;
}

.dom-gl {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cursor {
  display: none;
}

.frame {
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-25%, -50%);
  padding: 2rem 3rem;
  color: #c2ff50;
  background-blend-mode: difference;
  opacity: 77%;
  font-family: "Citation Regular";
  text-align: center;
  z-index: 50;
  display: grid;
  justify-content: space-between;
  align-content: space-between;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "logo .. btn" "artist ... credits";
  pointer-events: none;
}
.frame > * {
  pointer-events: auto;
}
.frame__logo {
  grid-area: logo;
  justify-self: left;
  content: '#JUST_START';
    height: 85%;
    font-family: "Citation Regular";
    font-size: 13vmin;
    color: #f9ccca;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 5px $p, 0 0 15px $p, 0 0 25px $p, 0 0 35px $p, 0 0 50px $pd,
      0 0 75px $pd, 0 0 100px $pd, 0 0 150px $pd;
    animation: flicker 1.5s infinite alternate;
  }

  &::after {
    transform: rotateX(180deg) translateY(82%);
    filter: blur(3px) opacity(50%);
  }

@keyframes flicker {
  0%,
  16%,
  18%,
  21%,
  23%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px $p, 0 0 15px $p, 0 0 25px $p, 0 0 35px $p, 0 0 50px $pd,
      0 0 75px $pd, 0 0 100px $pd, 0 0 150px $pd;
  }

  17%,
  22%,
  55% {
    text-shadow: 0 0 5px $p, 0 0 5px $p, 0 0 5px $p, 0 0 15px $p, 0 0 30px $pd,
      0 0 45px $pd, 0 0 75px $pd, 0 0 125px $pd;
  }
}


.frame__button {
  grid-area: btn;
  justify-self: right;
}
.frame__artist {
  grid-area: artist;
  justify-self: left;
}
.frame__credits {
  grid-area: credits;
  justify-self: right;
}
.frame__credits, .frame__artist {
  font-size: 0.8rem;
  overflow: hidden;
}
.frame__credits span, .frame__artist span {
  display: inline-block;
}
.frame__credits a, .frame__artist a {
 
  opacity: 0.8;
}
.frame__credits a:hover, .frame__artist a:hover {
  opacity: 1;
}

.loading__wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading__wrapper .loading__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1vmin;
  font-family: "Citation Regular";
  color: #c2ff50;
}
.loading__wrapper .loading__text--inner {
  animation: blink 0.7s infinite alternate-reverse;
}
@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.6;
  }
}
.loading__wrapper .text__wrapper {
  position: relative;
  font-size: 3rem;
  font-family: "Citation Regular";
  font-display: swap;
  color: #c2ff50;
  
}
.loading__wrapper .text__wrapper .text__row {
  display: block;
}
.loading__wrapper .text__wrapper .text__row .text {
  display: block;
  user-select: none;
  opacity: 0;
}
.loading__wrapper .text__wrapper .text__row:nth-child(1) {
  clip-path: polygon(0% 75%, 100% 75%, 100% 100%, 0% 100%);
}
.loading__wrapper .text__wrapper .text__row:nth-child(2) {
  clip-path: polygon(0% 50%, 100% 50%, 100% 75.5%, 0% 75.5%);
}
.loading__wrapper .text__wrapper .text__row:nth-child(3) {
  clip-path: polygon(0% 25%, 100% 25%, 100% 50.5%, 0% 50.5%);
}
.loading__wrapper .text__wrapper .text__row:nth-child(4) {
  clip-path: polygon(0% 0%, 100% 0%, 100% 25.5%, 0% 25.5%);
}
.loading__wrapper .text__wrapper .text__row:nth-child(5) {
  clip-path: polygon(0% -25%, 100% -25%, 100% 0.5%, 0% 0.5%);
}
.loading__wrapper .text__wrapper .text__row:nth-child(6) {
  clip-path: polygon(0% -50%, 100% -50%, 100% -24.5%, 0% -24.5%);
}
.loading__wrapper .text__wrapper .text__row.text__row--sibling {
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
}
.loading__wrapper .bg__transition--slide {
  background: #0e0e0e;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@media (any-pointer: fine) {
  .cursor {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    pointer-events: none;
    mix-blend-mode: difference;
    z-index: 100;
    width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow:
    0 0 60px 30px rgb(243, 25, 1),  /* inner white */
    0 0 100px 60px rgb(0, 106, 255), /* middle magenta */
    0 0 140px 90px rgb(255, 0, 81); /* outer cyan */
  }
  .cursor--large .cursor__inner {
    fill: var(--cursor-fill);
    stroke: var(--cursor-stroke);
    stroke-width: var(--cursor-stroke-width);
    opacity: 0.7;
    width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(2, 241, 2);
  box-shadow:
    0 0 60px 30px #fff,  /* inner white */
    0 0 100px 60px #f0f, /* middle magenta */
    0 0 140px 90px #0ff; /* outer cyan */
    background-blend-mode: difference;
    
  }
  .cursor--small:hover, .cursor--small:active .cursor__inner:hover, .cursor__inner:active  {
    fill: var(--cursor-stroke);
    stroke: var(--cursor-fill);
    opacity: 0.7;
    width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow:
    inset 0 0 50px #fff,      /* inner white */
    inset 20px 0 80px #f0f,   /* inner left magenta short */
    inset -20px 0 80px #0ff,  /* inner right cyan short */
    inset 20px 0 300px #f0f,  /* inner left magenta broad */
    inset -20px 0 300px #0ff, /* inner right cyan broad */
    0 0 50px #fff,            /* outer white */
    -10px 0 80px #f0f,        /* outer left magenta */
    10px 0 80px #0ff;         /* outer right cyan */
    
  }
  .cursor--close {
    fill: none;
    stroke: var(--cursor-stroke);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 62px;
    mix-blend-mode: difference;
  }
}
@media only screen and (max-width: 64em) {
  .slider__slide-info--wrapper .slider__silde-info .slide__text--title {
    transform: translateX(-80%);
  }
  .slider__slide-info--wrapper .slider__silde-info .slide__text--description {
    opacity: 0;
    height: 0;
  }

  .frame__credits {
    display: none;
  }
}
@media only screen and (max-width: 53em) {
  :root {
    --image-width: calc(var(--base-image-width) / 1.125);
    --image-height: calc(var(--base-image-height) / 1.125);
  }

  .slider__slide-info--wrapper .slider__silde-info .slide__index {
    transform: translate(-60%, 0%);
    font-size: 10rem;
  }
}
@media only screen and (max-width: 32em) {
  :root {
    --image-width: calc(var(--base-image-width) / 1.5);
    --image-height: calc(var(--base-image-height) / 1.5);
  }

  .slider__slide-info--wrapper .slider__silde-info .slide__index {
    font-size: 7rem;
  }
  .slider__slide-info--wrapper .slider__silde-info .slide__text--title {
    transform: translateX(-60%);
    font-size: 5rem;
  }

  .frame__artist {
    display: none;
  }
}